.sectionCharacterDetails {
  padding: 21px 50px;
}

.linkBack {
  display: block;
  width: 108px;
  height: 24px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 26px;
  gap: 8px;
}

.linkBack:hover,
.linkBack:focus {
  color: green;
}

.linkBack:hover svg path {
  fill: green;
}

.linkBack:focus {
  outline: 1px solid #000000;
}

.iconLinkBack {
  display: block;
  width: 24px;
  height: 24px;
}

.textLinkBack {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
}

.characterInfo {
  width: 395px;
  margin: 0 auto;
}

.imagePoster {
  margin: 0 auto;
  width: 300px;
  margin-bottom: 11px;
  border-radius: 50%;
  border: 5px solid #f2f2f7;
}

.titleItem {
  margin-bottom: 48px;
  width: 100%;

  text-align: center;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.17;
  color: #081f32;
}
.titleItem_text {
  text-align: center;
  margin-bottom: 48px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #8e8e93;
  letter-spacing: 0.15px;
}

.list {
  text-align: center;
  margin: 0 auto;
}

.listItem {
  text-align: start;
  height: 64px;
  padding-top: 9px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.08);
}

.listItem_title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
}
