.formSection {
  padding: 92px 24px;
}

.formContainer {
  margin: 0 auto;
  text-align: center;
  min-width: 312px;
  max-width: 1020px;
}

.imageWrapper {
  max-width: 600px;
  max-height: 200px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.imgPicture {
  display: block;
  width: 100%;
}

.formSearch {
  display: flex;
  margin-bottom: 32px;
}

.inputSearch {
  height: 56px;
  width: 100%;
  border-radius: 0 8px 8px 0;
  border-left: none;
  outline: none;
  border-width: 1px;

  font-size: 20px;
}

.inputSearch:focus {
  border-left: none;
}

.btnSearch {
  width: 56px;
  height: 56px;
  border-radius: 8px 0 0 8px;
  border-right: none;
  background-image: url(images/magnifier.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  outline: none;
  border-width: 1px;
}

.btnSearch:hover,
.btnSearch:focus {
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .formSection {
    padding: 86px;
  }

  .imageWrapper {
    margin-bottom: 16px;
  }

  .formSearch {
    margin-bottom: 61px;
  }
}
